<nav
  class="flex flex-row w-full justify-between items-center px-2 py-1 bg-transparent">
  <div
    class="w-full sm:w-auto self-center flex flex-row flex-no-wrap justify-between items-center">
    <a href="/" class="no-underline"><img src="/assets/img/DU_Light.png" alt="JUX Logo" class="h-24 py-1">
    </a>
  </div>
  <div id="menu"
    class="w-full sm:w-auto self-center sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0">
    <a class="text-gray-50 font-bold hover:text-green-950 text-2xl text-center w-full no-underline  sm:w-auto sm:pr-4 py-2 sm:py-1"
      href="{% if isFront %}/story{% else %}{{ site.baseURL }}//story{% endif %}">Creator</a>
   </div>
</nav>