<div class="w-full flex flex-col pb-2">
 
  <div class="flex flex-col sm:flex-row">

    <div class="w-1/3 flex flex-row">
    </div>

    <div class="text-center w-1/3 align-middle">
      <img class="mb-16 w-full object-fill mx-auto logocolorchange" src="/assets/img/DestUnk_light.png" alt="Destination Unknown Logo">
      <span class="text-green-950 text-xl tracking-wide">Not sure where to go next?</span>
      <h2 class="text-green-950 mt-10 font-bold tracking-wide text-xl">How about 
        <span class="content__container block font-tight text-yellow-950 font-display text-4xl my-2">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">Athens</li>
            <li class="content__container__list__item xl:pl-3">Bali</li>
             <li class="content__container__list__item xl:pl-3">Christchurch</li>
            <li class="content__container__list__item xl:pl-3">Dubrovnik</li> 
            <li class="content__container__list__item xl:pl-3">Ecuador</li>            
            <li class="content__container__list__item xl:pl-3">France</li>  
            <li class="content__container__list__item text-3xl xl:pl-3">Go anywhere</li>
          </ul>
        </span>
        <p class="text-green-950 tracking-wider text-2xl font-display">Travel the world and the seven seas - Eurythmics</p>
    </div>
  </div>  

  <div class="h-96 w-full flex flex-col sm:flex-row my-4 self-center align-middle justify-center items-center">

    <div class="p-10 w-1/3 self-center justify-center items-center">
            <button href="#buildings" class="w-72 h-72 rounded-full 
                          bg-yellow-950 hover:bg-gray-50 text-green-900 text-lg">
                Spot?
            </button>
    </div>
    <div class="p-10 w-1/3 self-center justify-center items-center">
            <button href="#buildings" class="w-72 h-72 rounded-full 
                          bg-yellow-950 hover:bg-gray-50 text-green-900 text-lg">
                Temp?
            </button>
    </div>
    <div class="p-10 w-1/3 self-center justify-center items-center">
            <button href="#buildings" class="w-72 h-72 rounded-full 
                          bg-yellow-950 hover:bg-gray-50 text-green-900 text-lg">
                Vibe?
            </button>
    </div>

      {# <div class="h-96 w-1/3 flex flex-no-wrap self-center justify-center items-center">
        <a class=" w-72 h-72 rounded-full flex text-green-1000 bg-yellow-950 shadow-md text-lg hover:bg-gray-50 hover:border-red"
          href="#buildings"></a> 
      </div>

      <div class="h-96 w-1/3 flex flex-no-wrap self-center justify-center items-center">
        <a class=" w-72 h-72 rounded-full flex text-green-1000 bg-yellow-950 shadow-md text-lg hover:bg-gray-50 hover:border-red"
         href="#buildings">Temp?</a> 
      </div>
            
      <div class="h-96 w-1/3 flex flex-no-wrap self-center justify-center items-center">
        <a class=" w-72 h-72 rounded-full flex text-green-1000 bg-yellow-950 shadow-md text-lg hover:bg-gray-50 hover:border-red"
         href="#buildings">Vibe?</a>  
      </div> #}
  </div>
</div>